"Look to the north. Keep looking. There's nothing coming from the south."
"Men are from Mars; women are from Venus; Earth is a hallucination; podcasts are dreams."
"There's a special place in Hell. It's really hip. Very exclusive."
"What has four legs in the morning, two legs at noon, and three legs in the evening? I don’t know, but I trapped it in my bedroom. Send help."
"A million dollars isn’t cool. You know what’s cool? A basilisk."
"Lost? Confused? Lacking direction? Need to find a purpose in your life?"
"It must be 3:23 PM somewhere. Maybe space?"
"We are living in an immaterial world, a ghost world, and I am an immaterial girl - a ghost."
""Nice bolo tie," is the greatest compliment a person can ever receive."
"Eating meat is a difficult moral decision, because it's stolen, that meat. You should apologise."
"Today is the last day of your life up to this point."
"Does the carpet match the drapes? No, it doesn’t. You’re the worst interior decorator. Please leave my home."
"I’d never join a PEN15 club that would allow a person like me to become a member."
"Biologically speaking, we are all people made up of smaller people."
"One incorporeal being said to the other, “I’m not here too! Make friends?"
"If I said you had a beautiful body, would it even matter because we are so insignificant in this vast incomprehensible universe?"
"Werner Herzog is the most interesting person."
"Find more ways to work ‘plinth’ into daily conversations."
"Step one: write down the names of everyone you know. Step two: rearrange the letters. Step three: this will reveal a great secret of time."
"Step one: separate your lips. Step two: use facial muscles to pull back corners of mouth. Step three: widen your eyes. This is how to be happy."
"Pain is just weakness leaving the body, and then being replaced by pain. Lots of pain."
 "Ask your doctor if right is left for you."
"If you love someone, set them free. Set them free now. This is the police, and we have you surrounded."
"Mamas, don’t let your babies grow up to be cowboys. Show them pictures of cows when they’re young and administer brief electrical shocks."
"The most dangerous game is man. The most entertaining game is Broadway Puppy Ball. The most weird game is Esoteric Bear."
"Fun game. Say "toy boat" over and over. Do it for the rest of your life. Retreat from society and live on alms. Whisper "toy boat' as you die."
"The human soul weighs 21 grams, smells like grilled vegetables, looks like a wrinkled tartan quilt, and sounds like bridge traffic."
"Production oversight by Tory Malatea, who is holding a small locket. He is not speaking. He’d just like for you to touch the locket. His hand is twisted. His skin is forming into scales. Just touch it once. Just once, okay?"
"A bar walks into a bar. The bartender is a snake eating its own tail. The windows look out only onto the face of the one who looks."
"Your body is a temple. A temple of blood rituals and pagan tributes, a lost temple, a temple that needs more calcium. You should maybe try vitamin supplements."
"Look to the sky. You will not find answers there, but you will certainly see what everyone is screaming about."
"Throw your hands in the air. Now your arms. Keep detaching limbs and throwing them in the air. Hopefully, the birds will be sated and leave."
"Sticks and stones may break my bones, but words will never quite describe the pain."
You can lead a horse to water, and you can lead a horse into water, and you can swim around with the horse and have fun.
Thank you for your interest in a life free of pain. We're not accepting applications at this time. Please try again. And again. And again. And again. And again. And again. And again. And again.
On this day in history: mundanity, and terror, and food, and love, and trees.
Look. Up in the sky. It's a bird. It's a plane. No. It's just the void. Infinite and indifferent. We're so small. So very very small.
Listen. I'm not a hero. The real heroes are the people that point out to us when protesters have smartphones, thus invalidating all concerns.
A journey of a thousand miles begins with a single command from a satellite-activated mind control chip.
Your Bitcoin address is your middle name, followed by the name of your first pet and the first street you lived on.
You can’t get blood from a turnip. Listen, you need some blood? I can totally get you some blood. Set that turnip down and follow me to the blood. There’s a lot of blood.
Please move your brain so we can get to the drugs. And stop leaving it there. We've talked about this.
Ignore all the haters telling you that everything isn't a sandwich. Everything is a sandwich.
You won't sleep when you're dead, either.
At your smallest components, you are indistinguishable from a forest fire.
Knock knock. Who's there? Orange. Orange who? Orange you glad I didn't say your mother's in the hospital. I'm sorry. I'm so sorry. Is there anything I can do? Listen. I'll drive you over there. We'll leave right now. Grab a coat; it's a little cold out. I'm so sorry.
If you love something, set it free. If it starts flying around and chirping, it was probably a bird.
There's a difference between you're, your, and yarn. Yarn isn't even pronounced the same way. It's a completely different word.
Feeling lost? Like you have no goal in life? Like you're covered in dirt and wet leaves? Like you're an earthworm? Are you an earthworm? Kinda sounds like you're an earthworm, actually.
Wonderwall is the only 90's song visible from space.
Soccer is also commonly known as football, Canadian baseball, American football, violent jogging, and World War Two.
Everything that happens, happens for a reason. Except ostriches. What the hell man?
Most people think pitbulls are dangerous dogs; but, biologically speaking, most pitbulls are just three Shih Tzu's wearing a trench coat.
Say what you will about dance, but language is a limited form of expression.
Language will evolve irregardless of your attempt to literally lock it away in a secluded tower, obvs.
I’ve got more rhymes than the Bible’s got psalms, 151. I’ve got 151 rhymes.
If you're worried your writing isn't good just remember the earth is warming and soon good and bad writing alike will all be underwater.
Remember that all sentences must have a noun, a verb, and the phrase "foolish mortals".
Beware of Greeks bearing gifts. Also beware of gifts of Greek bears. Gifted and bare Greeks are totally okay.
It's not the size of the dog in the fight, it's the size of the other dog in the fight.
If you want a picture of the future, imagine a person writing headlines about millennials forever.
The reason we say "bless you" after someone sneezes is because we know they will die someday.
I let my haters be my motivators. Mostly they tell me I suck, and then I get sad. This was a terrible idea.
Ask your doctor just who he thinks he is. Say it just like that. Say, "Who do you think you are?" See if he starts crying. I know I would.
History is written by the victors. And then forgotten by the victors. And then the victors die too.
Don’t bring a gun to a knife fight. Don’t bring a knife to a knife fight, either. Stop going to knife fights altogether. What’s your deal with knife fights?
Instead of a proverb today, I just have some important news about the stray cats that live outside my apartment. There is the usual one, named Bisquick, who is missing one ear and is terrifying, but today I saw a second one, who is fatter and less terrifying and who I have named The Baron. I will keep you updated as events unfold.
When you wish upon a star, your dreams come true. But, because of distance, not for millions of years.
“I’m all business,” I say, peeling off my skin strip by strip, showing you what oozes out. “Business to my core.”
Don’t be afraid of the dark. Be afraid of the terrible things that are hiding in there, and the terrible things they will do.
Dress your dog for the job you want, not the job you have.
A rose by any other name is called something else.
You say potato, I say potato. Potato. Potato. Potato. Potato. Potato. Yes, this is very good. Let's keep going. Potato. Potato. Potato...
I had a dream in which cow-sized pugs existed. I was on a train, and one loped along outside my window. I'm sorry your dreams aren't as good.
When someone says, "I'm a dog person," I always reply, "Yeah? Well I'm a lizard person." And then I peel off my face.
Candles lit, runes drawn upon the floor, sacrifice prepared. Everything is ready for the summoning. I begin the incantation: "Shakira, Shakira!"
The word “motel” is an amalgam of the words “hotel” and “murder.”
Drake would you like to add you to his professional network on LinkedIn.
"Late capitalism" is such a sweetly optimistic phrase.
I'm a single issue voter. If the candidate is not a baby polar bear, I straight up cannot support them.
If a car flashes its brights at you, it's probably a gang, and if you flash your brights back, the gang gives you cake. It's a cake gang.
Ever wondered how a plane flies? Well the answer is that no-one knows. Pilots are scared to ask. If we ask, maybe it'll stop working.
There are hot singles in your area, and they all died exactly 20 years ago on a night just like tonight.
Summer, Fall, feeling sort of but not quite sick all the time, Spring.
You know what would be great? If someone made a movie showing Spiderman's origin story. I'd love to finally see that on the big screen.
Be careful what you wish for. Because it probably won't come true, and life is about expectations management.
Actually, it's Properties Brother.
Call me old-fashioned, but I believe there should be only one continent.
